:root {
	--gray-dark: #2d3748;
	--gray: #edf2f7;
}

.form__wrapper {
	display: flex;
	margin-bottom: 1rem;
	font-weight: bold;
	flex-direction: column;
}

.form__input {
	min-width: 15rem;
	max-width: 15rem;
	padding: 0.65rem 0.5rem;
	color: var(--white);
	background-color: var(--color-primary-dark);
	font-size: 1rem;
	border: 1px solid var(--gray);
	border-radius: 10px;
}

.form__input--textArea {
	margin-top: 1rem;
}

.form__input:focus {
	color: var(--white);
	background-color: var(--color-primary);
	outline: none;
}

.error {
	color: red;
	font-size: 0.8rem;
}
