@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;1,700&family=Roboto:wght@400;700&display=swap');

:root {
	--color-white: #fff;
	--color-primary: #6e7876;
	--color-primary-dark: #565d5c;

	--color-primary-text: #b3b8cd;

	--box-shadow-primary: 5px 5px 20px -10px rgb(0 0 0 / 75%);
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

body {
	box-sizing: border-box;
	min-height: 100vh;
	font-family: 'Roboto', 'Montserrat', sans-serif;
	background-color: var(--color-primary);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.wrapper-list {
	display: flex;
	margin: 1rem;
	flex-direction: column;
	align-items: center;
}

.toolbar-container {
	text-align: center;
}

.ulList {
	display: flex;
	margin: 2rem;
	justify-content: center;
	flex-wrap: wrap;
	list-style: none;
}

.liItem {
	margin: 1.5rem;
	box-shadow: var(--box-shadow-primary);
}

.liItem:hover {
	box-shadow: 20px 20px 30px -10px rgb(0 0 0 / 75%);
	transform: translateY(-3px);
}

.card {
	display: flex;
	padding: 1rem;
	align-items: center;
	text-align: center;
	flex-direction: column;
	background-color: var(--color-primary);
	background-image: linear-gradient(315deg, var(--color-primary) 50%, var(--color-primary) 100%);
}

.typographyB2 {
	color: var(--color-primary-text);
}

.avatar-container {
	padding: 5px;
	border: 1px solid var(--color-white);
	border-radius: 50%;
}

.link {
	padding: 5px 20px;
	border: 1px solid var(--color-white);
	text-decoration: none;
	background-color: transparent;
	border-radius: 3px;
	color: var(--color-white);
}

.link:hover {
	background-color: var(--color-primary-dark);
}

.wrapper-users-details {
	display: flex;
	padding: 1rem;
	align-items: center;
	flex-direction: column;
}

.btn-backLink {
	color: white;
	margin-top: 2rem;
}

.container-card {
	box-shadow: var(--box-shadow-primary);
}