@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;1,700&family=Roboto:wght@400;700&display=swap');

:root {
	--color-primary: #045de9;
	--color-primary-light: #09c6f9;

	--box-shadow-primary: -1rem 0.5rem 4rem rgba(255, 68, 0, 0.836);
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

body {
	box-sizing: border-box;
	font-family: 'Roboto', 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	min-height: 100vh;
	background-image: url(./assets/img/Nowy2.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.ulList {
	display: flex;
	margin: 2rem;
	justify-content: center;
	flex-wrap: wrap;
	list-style: none;
}

.liItem {
	margin: 1.5rem;
}

.liItem:hover {
	box-shadow: var(--box-shadow-primary);
}

.card {
	background-color: var(--color-primary);
	background-image: linear-gradient(315deg, var(--color-primary) 0%, var(--color-primary-light) 74%);
}
